.section {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

button {
  background-color: #ff4d00;
  color: black;
  border: none; 
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #fff;
}

.featured-food,
.featured-recipe,
.featured-cook {
  width: 300px; 
  padding: 10px;
  margin-bottom: 15px;
}

.food-item-image{
  width: 100%;
  height: 200px; 
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}  
.food-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
} 

.food-item-info {
  padding: 20px;
  text-align: center;
}


.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.food-item-name-rating p {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.food-item-desc{
color: #676767;
font-size: 12px;
} 
.btn {
  background-color: #ff4d00;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffa500;
  }