.footer {
    background-color: white;
    border: 30px solid #ff4d00;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto; 
    width: 65%;
    box-sizing: border-box;
}
 .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .social-icons img {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .social-icons img:hover {
    transform: scale(1.2);
  }
  
  .footer-text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: black;
  }
  